<footer class="text-center">
        <div class="hero-text">
            <h4>Sobre mi</h4>
            <ul class="nav nav-pills center-pills">
                <li role="presentation"><a  routerLink="/QuienSoy" >Santiago Lopez <i class="fa fa-user fa-2x"></i></a></li>
        </ul>
            <ul class="nav nav-pills center-pills">
                    <li role="presentation"><a href="https://github.com/santiagolo90" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                    <li role="presentation"><a  routerLink="" (click)="prueba()" > <i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li role="presentation"><a  routerLink="" (click)="prueba()" > <i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li role="presentation"><a  routerLink="" (click)="prueba()" > <i class="fa fa-instagram fa-2x"></i></a></li>
            </ul>
        </div>    
</footer>