<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
<body class="fondo">
  <div class="container">
    <!-- navbar agrega un poco de margen -->
    <!-- navbar-inverse da un color  -->
    <!--   navbar-fixed-top lo agrega siempre arriba 
          <nav class="navbar navbar-fixed-top">-->
    <nav class="navbar navbar-default ">
      <!-- container-fluid agrega un poco de padding -->
      <!-- navbar-header -->
      <div class="navbar-header">
        <!-- navbar-toggle boton mobile -->
        <button type="button" class="navbar-toggle pull-right " data-toggle="collapse" data-target="#myNavbar">
          <a>Menu
            <i class="fa fa-bars"></i>
          </a>
        </button>
        <!-- navbar-brand es el lugar para el logo  -->
        <a routerLink="/Principal">
          <img class="logo" src="./assets/imagenes/Logo.gif" alt="">
        </a>
      </div>
      <!-- collapse oculta -->
      <!-- navbar-collapse -->
      <div class="collapse navbar-collapse" id="myNavbar">
        <!-- nav ordena y colores con hover-->
        <!--navbar-nav de costado  -->
        <!--navbar-right acomoda a la derecha   -->
        <ul class="nav navbar-nav navbar-left">
          <li class="">
            <a routerLink="/Juegos">Sala de Juegos</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="./QuienSoy#quien">Quien</a>
          </li>
          <li>
            <a href="./QuienSoy#que">Ques es</a>
          </li>
          <li>
            <a href="./QuienSoy#donde">Donde</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <!-- <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="./">Sala De Juegos</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./QuienSoy#quien">Quien</a></li>
            <li><a href="./QuienSoy#que">Ques es</a></li>
            <li><a href="./QuienSoy#donde">Donde</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- First Container -->
<div class="row bg-1 container-fluid ">
  <div id="quien" class=" col-sm-4 text-center">
      <h3 class="">¿Quien Soy? </h3>
     
      <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-thumbnail margin" style="display:inline" alt="Bird" width="350"
        height="350">
      <h3>Santiago Lopez</h3>
      <h4 class="lead" >Y soy un alumno de la UTN FRA</h4>
  </div>
  <div id="que" class=" col-sm-8 text-center ">
    <h3 style="font-size: 25px;" class="margin"> <b>¿Que sonido es?</b></h3>
    <p style="font-size: 25px;">El juego comienza reproduciendo un sonido de forma aleatoria, el objetivo del mismo es relacionar dicho sonido con su respectivo animal.
      Para ganar deberá adivinar los 30 sonidos y tiene como máximo 3 intentos, al mismo tiempo podrá reproducir la cantidad de veces que quiera el sonido de turno. 
      Diviértase intentándolo! </p>
    <a routerLink="/Juegos/Sonido" class="btn btn-primary btn-lg">
      <i class="fas fa-gamepad"></i> Ir al Juego
    </a>
  </div>
</div>
  
  <!-- Second Container -->
  
  <!-- Third Container (Grid) -->
  <div id="donde" class="container bg-3 text-center">
    <h3 class="margin">Dónde Funciona?</h3>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <!-- <div class="col-sm-4"> 
          <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
          <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div> -->
      <div class="col-sm-6">
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <!-- <footer class="container-fluid bg-4 text-center">
      <p>Modificado por <a href="https://www.octavio.com.ar">www.octavio.com.ar</a></p> 
    </footer> -->
  <footer class="container-fluid bg-4 text-center">
    <div class="hero-text">
      <h4>Sobre mi</h4>
      <ul class="nav nav-pills center-pills">
        <li role="presentation">
          <a href="https://github.com/santiagolo90" target="_blank">Santiago Lopez
            <i class="fa fa-user fa-2x"></i>
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills center-pills">
        <li role="presentation">
          <a href="https://github.com/santiagolo90" target="_blank">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </li>
        <li role="presentation">
          <a routerLink="" (click)="prueba()">
            <i class="fab fa-facebook-square fa-2x"></i>
          </a>
        </li>
        <li role="presentation">
          <a routerLink="" (click)="prueba()">
            <i class="fab fa-twitter-square fa-2x"></i>
          </a>
        </li>
        <li role="presentation">
          <a routerLink="" (click)="prueba()">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>

</body>

