
.imagenDeQuienSoy{
    /* rompe las fotos */
    /* width: 512px;
    height:384px; */
    }
body {
    /* font: 15px Montserrat, sans-serif; */
    font-family: 'Ubuntu', sans-serif;

    color: #f5f6f7;
    background-color: whitesmoke; /* White */
}
p {font-size: 14px;}
.margin {
    margin-bottom: 45px;
}
.bg-1 { 
    /* background-color: #1abc9c; Green */
    background-color:#0A5699;
    color:#EFDA54;
    /* color: #ffffff; */
}
.btn-primary{
    color:#EFDA54;
}
.btn-primary:hover {
    color:rgb(180, 165, 66);
}
.bg-2 { 
    /* background-color: #474e5d; Dark Blue */
    background-color: #37474f;
    color: #ffffff;
}
.bg-3 { 
    background-color: whitesmoke; /* White */
    color: #555555;
}
.bg-4 { 
    background:#0A5699;
    color:#EFDA54;
}
/* alto y bajo del footer tenia 70 y 70*/
.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}
.container{
    background-color: whitesmoke; /* White */
}

/* .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
} */
.navbar{
    font-size: 15px;
    background-color:whitesmoke;
    border: none;
}
.navbar-nav  li a {
    text-align: right;
    color: #0A5699;
}
.navbar-nav  li a:hover {
    color:rgb(175, 160, 60) !important;

}
.navbar-nav  li a:active {
    color:rgb(175, 160, 60);

}
.logo:hover{
     background-color: #e7e7e7;

}
/*Footer*/
.center-pills {
    display: flex;
    justify-content: center;
}
.hero-text a {
    text-decoration:none;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color:#EFDA54;
    /*background-color: #ddd;*/
    text-align: center;
    cursor: pointer;
}
.hero-text a:hover,
.hero-text a:focus  {
    background-color:#0A5699 !important;
    color:rgb(175, 160, 60) !important;
}
