
.imagenDeQuienSoy{
    width: 512px;
    height:384px;
    }
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 14px;}
.margin {
    margin-bottom: 45px;
}
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background:#0A5699;
    color:#EFDA54;
}
/* alto y bajo del footer tenia 70 y 70*/
.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
/*Footer*/
.center-pills {
    display: flex;
    justify-content: center;
}
.hero-text a {
    text-decoration:none;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color:#EFDA54;
    /*background-color: #ddd;*/
    text-align: center;
    cursor: pointer;
}
.hero-text a:hover,
.hero-text a:focus  {
    background-color:#0A5699 !important;
    color:rgb(175, 160, 60) !important;
}
