<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">

<body class="fondo">
  <div class="container" >
    <div class="row" >
      <div class="col-sm-4">
          <div class="card">
            <mat-card class="example-card">
              <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
              </mat-card-header>
              <img mat-card-image src="./assets/imagenes/cerebro.jpg" routerLink="/Juegos/Agilidad" class="img-circle" alt="Avatar">
              <mat-card-content>
                  <mat-card-title><h3>Velocidad aritmética</h3></mat-card-title>
                  <!-- <mat-card-subtitle>Juego de agilidad mental</mat-card-subtitle> -->
              </mat-card-content>
              <mat-card-actions>
                <!-- <button mat-raised-button (click)="Juego('Agilidad')" >Jugar</button> -->

                <button mat-fab (click)="Juego('Agilidad')" ><i class="fas fa-gamepad fa-2x"></i></button>

              </mat-card-actions>
            </mat-card>
          </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card">
            <mat-card class="example-card">
              <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="./assets/imagenes/ppt.jpg" routerLink="/Juegos/PPT" class="img-circle" alt="Avatar" >
                <mat-card-content>
                    <mat-card-title><h3>Piedra Papel o Tijera</h3></mat-card-title>
                    <!-- <mat-card-subtitle>Juega contra la máquina</mat-card-subtitle> -->
                </mat-card-content>
                <mat-card-actions>
                  <!-- <button mat-raised-button (click)="Juego('PPT')" >Jugar</button> -->
                  <button mat-fab (click)="Juego('PPT')" ><i class="fas fa-gamepad fa-2x"></i></button>
                </mat-card-actions>
            </mat-card>
          </div>
      </div>
  
      <div class="col-sm-4">
          <div class="card">
            <mat-card class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="./assets/imagenes/adivina.png" routerLink="/Juegos/Adivina" class="img-circle"  alt="Avatar" >
                <mat-card-content>
                    <mat-card-title><h3>Adivina el número</h3></mat-card-title>
                    <!-- <mat-card-subtitle>Juega de estrategia</mat-card-subtitle> -->
                </mat-card-content>
                <mat-card-actions>
                  <!-- <button mat-raised-button  (click)="Juego('Adivina')" >Jugar</button> -->
                  <button mat-fab (click)="Juego('Adivina')" ><i class="fas fa-gamepad fa-2x"></i></button>
                </mat-card-actions>
            </mat-card>
          </div>
      </div>
    </div>
  
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
              <mat-card class="example-card">
                  <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                  </mat-card-header>
                  <img mat-card-image src="./assets/imagenes/juegoSonido.jpg" routerLink="/Juegos/Sonido" class="img-circle"  alt="Avatar" >
                  <mat-card-content>
                      <mat-card-title><h3>¿Que sonido es?</h3></mat-card-title>
                      <!-- <mat-card-subtitle>Juego de agilidad auditiva</mat-card-subtitle> -->
                  </mat-card-content>
                  <mat-card-actions>
                    <!-- <button mat-raised-button (click)="Juego('Sonido')" >Jugar</button> -->
                    <button mat-fab (click)="Juego('Sonido')" ><i class="fas fa-gamepad fa-2x"></i></button>
                  </mat-card-actions>
              </mat-card>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <mat-card class="example-card">
                <mat-card-header>
                  <!--  -->
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image src="./assets/imagenes/anagrama.gif" routerLink="/Juegos/Anagrama" class="img-circle"   alt="Avatar" >
                <mat-card-content>
                    <mat-card-title><h3>Adivina el Anagrama</h3></mat-card-title>
                    <!-- <mat-card-subtitle>Juego de agilidad mental</mat-card-subtitle> -->
                </mat-card-content>
                <mat-card-actions>
                  <!-- <button mat-raised-button  (click)="Juego('Anagrama')" >Jugar</button> -->
                  <button mat-fab (click)="Juego('Anagrama')" ><i class="fas fa-gamepad fa-2x"></i></button>
                </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <!-- <div class="col-sm-4">
            <div class="card">
            </div>
        </div> -->
    </div>
  </div>
</body>

  <!-- <div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">LIKE</button>
      </mat-card-actions>
    </mat-card>

  </div> -->