/* img{
    height: 55px;
    width: 55px;
}
.fondo{
    text-align:center;
    background-color:#0A5699;
    color:#EFDA54;
    height: 500px;
    
}
.imagenes{
    background-color: whitesmoke;
    box-shadow: 1px 1px 18px 2px #000;
    width: 355px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 12px;
} */
img{
    height: 50px;
    width: 50px;
}
.container-fluid {
    color:#EFDA54;
    height: 400px;
    display: block;

}
.fondo{
	box-shadow: 1px 1px 18px 2px #000;

	background-color:#0A5699;
	padding-left: 7px;
	width: 340px;
    height: 569px;
    margin: auto;
    border-radius: 10px;
    border-color: #EFDA54;
	
}

.Ganador {
    background-color: #059F2F;
}
.Perdedor {
    background-color: #FF0000;
}