
.panel{
    height: 200px;
    background-image: url("../../../assets/imagenes/cabecera.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #EFDA54;
}

.hero-text a {
border: none;
outline: 0;
display: inline-block;
padding: 10px 25px;
color: black;
background-color: #ddd;
text-align: center;
cursor: pointer;
}

.hero-text a:hover {
background-color: #555;
color: white;
}
.navbar{
    background-color:whitesmoke;
    border: none;
}
.navbar-nav  li a {
    text-align: right;
    color: #0A5699;
}
.navbar-nav  li a:hover {
    color:rgb(175, 160, 60) !important;

}

/*Registrase*/
.Ganador {
    background-color: #059F2F;
}
.Perdedor {
    background-color: #FF0000;
}



form {
    border: 10px solid #f1f1f1;
    padding: 10px;
    /*background:rgb(72, 107, 138);*/
    background: #0867b1;
    color:#EFDA54;
}

input[type=text], input[type=password] {
    height: 50px;
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black;
 
}




/* The Modal (background) */
.container {
    width: 450px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background: #0867b1;
    color:#EFDA54;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    /* width: 98%;  */
    width: 47%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



