<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<body style="background-color: whitesmoke">
  <h2></h2>
  <div class="container-fluid">
    <div class="fondo">
      <div style="text-align:center;">
        <h1>{{nuevoJuego.nombre}}</h1>
      </div>
    <!-- <button type="button" (click)="generarSonido()"  class="btn btn-info glyphicon glyphicon-volume-up"> Sonido</button> -->
      <button *ngIf="botonComenzarVerificar == true"  (click)="primerJuego()"  class="btn btn-success btn-lg">Comenzar <i class="fas fa-gamepad"></i></button>
      <h3 *ngIf="labelPuntos == true" >
        <kbd class= "label-info">Vos <i class="far fa-hand-point-right"></i> {{puntos}}</kbd>
        VS
        <kbd class= "label-danger"> {{puntosRival}} <i class="far fa-hand-point-left"></i> Rival</kbd>
      </h3>
      <h3 *ngIf="labelGanaste == true" >
          <kbd class= "label-success"> Sos un capo, Ganaste! <i class="far fa-thumbs-up"></i></kbd>
      </h3>
      <h3 *ngIf="labelPerdiste == true" >
          <kbd class= "label-danger"> Perdedor!! <i class="far fa-thumbs-down"></i></kbd>
      </h3>
      <div class="imagenes">
      <br>
      <div class="img">
        <button id="botonPiedra" disabled class="btn btn-default btn-xs" (click)="generarPartida(1)"><img src="../../../assets/PPT/img/a1.png" ></button>
        <button id="botonPapel"  disabled class="btn btn-default btn-xs"(click)="generarPartida(2)"><img src="../../../assets/PPT/img/a2.png" ></button>
        <button id="botonTijera" disabled class="btn btn-default btn-xs"(click)="generarPartida(3)"><img src="../../../assets/PPT/img/a3.png" ></button>
      </div>
      <br>
       <div *ngIf="mostrarGif == true" class="gif">
          <img src="../../../assets/PPT/img/alex.gif"  >
          <img src="../../../assets/PPT/img/malo.gif"  >
        </div>
        <div class="resultados">
          <img id="resultado1"  >
          <img id="resultado2" >
        </div>
      </div>
      <section id="msjPuntos"></section>
    </div>
  </div>
</body>